.other-button {
  padding: 12px 59px;
  background-color: $header-text-color;
  border: none;
  border: 2px solid $border-btn-color;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 57px;
  font-size: 14px;
  color: $border-btn-color;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.content__button {
  font-family: $font-family;
  font-weight: 700;
  font-size: 13px;
  background-color: $button-bg-color;
  color: $header-text-color;
  border: none;
  border-radius: 20px;
  padding: 13px 38px;
  margin-top: 17px;

  @media screen and (min-width: 1200px) {
    word-break: break-all;
    width: 228px;
    height: 43px;
    font-weight: 700;
    font-size: 14px;
  }
}
